.banner-container{
    margin: 0;
    width: 100%;
    height: 100vh;
    background: rgb(255, 255, 255);
}

.banner-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.animal-image-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    text-align: center;
    background-image: url("https://www.freepnglogos.com/uploads/animals-png/animals-vesperius-deviantart-8.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0; /* Configura la opacidad inicial en 0 para que el div esté oculto */
    animation: aparecer .4s .4s forwards;
}

.banner-title{
    color: rgb(61, 60, 60);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.banner-subtitle{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
    font-weight: 500;
    color: rgb(61, 60, 60);
    margin: 0;
}
.banner-text{
    color: rgb(61, 60, 60);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: end;
    margin: 40px 0;
}
.info-banner-content{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    width: 40%;
    height: 100%;
    text-align: center;
    opacity: 0; /* Configura la opacidad inicial en 0 para que el div esté oculto */
    animation: aparecer .6s .6s forwards;
}
@keyframes aparecer {
    to {
        opacity: 1; /* Configura la opacidad final en 1 para hacer visible el div */
    }
}